* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.title-destaque-descricao a {
  text-decoration: none;
  color: white;
}

header {
  padding: 8px 0;
  background-color: #0aacdc;
}
/* Menu lateral */
.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 220px;
  height: 100%;
  background-color: #ecebeb;
  color: #0f0f0f;
  transition: left 0.3s ease;
  padding-top: 40px;
  z-index: 1000;
  overflow-y: auto; /* Adiciona scroll vertical se necessário */
}

.menutitule {
  font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
  color: #ecebeb; /* Cor do texto */
  text-decoration: underline; /* Sublinhado */
  margin-left: 60px; /* Espaço à esquerda */
  margin-top: 0%; /* Define a cor do texto */
}
.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu ul li {
  padding: 15px;
  text-align: center;
}

.side-menu ul li a {
  color: #1c1c1c;
  text-decoration: none;
  font-size: 18px;
}

.side-menu ul li a:hover {
  background-color: #575757;
}

/* Botão de menu */
.menu-toggle {
  position: absolute;
  top: 22px;
  left: 20px;
  font-size: 28px;
  background: none;
  border: none;
  color: white !important;
  cursor: pointer;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Menu lateral */

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2%;
}

.side-menu ul li {
  padding: 13px;
  text-align: center;
  margin-top: 2%;
}

.side-menu ul li a {
  color: #1a1919;
  text-decoration: none;
  font-size: 18px;
}

.side-menu ul li a:hover {
  background-color: #5c9cdc;
}

/* Botão de fechar o menu */
.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  color: #5c9cdc;
  cursor: pointer;
}
/* Estilo para o primeiro ícone de usuário */
.user-icon1 {
  margin-left: 35px;
  font-size: 25px;
  color: #e3e5e6;
  margin-bottom: 18%;
}

/* Estilo para o segundo ícone de usuário */
.user-icon2 {
  margin-left: 35px;
  font-size: 25px;
  color: #097eb9; /* Cor diferente para distinguir */
  margin-bottom: 12%;
  gap: 2px;
}

/* Estilo para o texto de login do primeiro ícone */
.loginM {
  margin-left: 65px;
  color: #097eb9;
  margin-top: -43px;
  cursor: pointer;
}
.loginM2 {
  margin-left: 65px;
  color: #e5e7e8;
  margin-top: -42px;
  cursor: pointer;
}

.line1 {
  border: none; /* Remove a borda padrão */
  border-top: 1px solid #c8b4b4; /* Adiciona uma linha superior */
  margin: 10px 0; /* Espaçamento acima e abaixo da linha */
}

.assineM {
  margin-left: 30px;
  margin-top: 5%;
  cursor: pointer;
}

a:-webkit-any-link {
  color: #f3f2f2;
}
.line3 u a {
  border-bottom: 1px solid #3c3c3c;
  padding-bottom: 0.2px;
  width: 200px;
  margin-left: 400px;
}

body {
  background-color: #f1f1f1;
}
/* Remove o estilo padrão da lista */
.dropdown {
  list-style-type: none; /* Remove os marcadores */
  padding: 0; /* Remove o preenchimento interno padrão */
  margin: 20px 0; /* Remove a margem padrão */
  display: flex; /* Alinha os itens horizontalmente */
  margin-top: 10%; /* Define a cor do texto */
}

/* Estilos para os itens da lista */
.dropdown li {
  margin: 0 10px; /* Adiciona espaço entre os itens */
}

/* Estilos para os links */
.dropdown li a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: white;
  margin-top: 0.2%; /* Define a cor do texto */
}

.center {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: nowrap;
}

.logo {
  width: 50%;
  margin-top: 0.4%;
  margin-left: -220;
  margin-right: 20%;
}

.logo h2 {
  color: white;
  margin-left: 50%;
  font-size: 32px;
}

.form-busca {
  width: 50%;
  text-align: right;
  margin-top: 0.3%;
  margin-right: 4%;
}

.form-busca form {
  display: inline-block;
  max-width: 200px;
  position: relative;
}

.form-busca i {
  position: absolute;
  left: 10px;
  top: 7px;
  color: white;
  font-size: 20px;
}

.form-busca input {
  height: 40px;
  width: 100%;
  border: 0;
  font-size: 20px;
  color: white;
  background-color: #008bb4;
  padding-left: 40px;
  border-radius: 10px;
}

.title-destaque-descricao h2 {
  font-size: 64;
  margin: 20px 0;
}

.title-destaque-descricao p {
  font-weight: lighter;
  font-size: 16px;
}

.title-destaque-descricao a {
  color: #0aacdc;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
section.noticia-destaque {
  padding: 40px 0;
}
section.noticia-destaque > .center {
  max-width: 960px;
}

.noticia-single img {
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

.img-destaque {
  width: 100%;

  position: relative;
}
.img-destaque img {
  width: 100%;
  border-radius: 20px;
}

.title-destaque-descricao {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px;
  max-width: 600px;
  color: white;
  z-index: 2;
}

.title-destaque-descricao h2 {
  font-size: 64px;
  margin: 20px 0;
}

.title-destaque-descricao p {
  font-weight: lighter;
  font-size: 16px;
}

.overlay-destaque {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

section.outras-noticias {
  background-color: #eaeaea;
  padding: 30px 20px;
  text-align: center;
}

section.outras-noticias h2 {
  font-size: 54px;
  margin-bottom: 30px;
}
.center {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.noticia-single {
  width: 70%;
  margin-right: 20px; /* Ajuste o valor conforme necessário */
}

.mais-lidas {
  width: 28%; /* Ajuste para ocupar menos espaço */
}

.mais-lidas-noticias-single img {
  width: 100%;
}

@media (max-width: 768px) {
  .center {
    flex-direction: column;
  }

  .noticia-single,
  .mais-lidas {
    width: 100%;
    margin-right: 0;
  }
}
.mais-lidas {
  top: calc(1255px / 2000px * 100%);
  left: calc(1273px / 3000px * 100%);
  width: 35%; /* Ajuste aqui */
  max-width: 1200px; /* Defina um valor máximo que se adapte ao layout */
  height: 161vh;
  background: #ffffff;
  border-radius: 10px;
  opacity: 1;
  position: relative;
  margin: 0 auto; /* Adicione esta linha para centralizar */
  right: 0;
}
.mais-lidas > h3 {
  background-color: #3f51b5;
  color: white;
  text-align: center;
  padding: 10px 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 7.5%;
}

.mais-lidas-noticias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.7%;
}

.mais-lidas-noticias-single {
  display: flex; /* Alinha o conteúdo (imagem e texto) horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 100%; /* Ajuste para que cada item ocupe 100% da largura do contêiner pai */
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9; /* Cor de fundo opcional para separação visual */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mais-lidas-noticias-single:hover {
  transform: scale(1.05);
}

.mais-lidas-noticias-single img {
  width: 40%;
  height: 129px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.texto-mais-lidas-singlle {
  background: white;
  color: black;
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.texto-mais-lidas-singlle h4 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #40be65 !important;
  text-align: left;
}

.texto-mais-lidas-singlle p {
  font-size: 12px;
  margin: 0;
  color: #7b8591;
}

footer {
  background-color: #0aacdc;
  text-align: center;
  color: white;
  padding: 8px 0;
}

section.noticia {
  padding: 20px 0;
  background-color: #eaeaea;
}

.noticia-single {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  margin-right: 2%;
  margin-left: -8;
}

.noticia-single h2 {
  color: #303336;
  font-size: 42px;
  margin: 10px 0;
}
.noticia-single span {
  letter-spacing: 3.2px;
  text-transform: uppercase;
  font-size: 13px;
  color: #858585;
  font-weight: bold;
}

.noticia-single p {
  color: #7b8591;
  font-size: 15px;
  line-height: 26px;
  margin-top: 15px;
  text-align: justify;
}

.noticia-single h3 {
  color: #7b8591;
  font-size: 33px;
  margin: 10px 0;
}
/* Estilo base do footer */
footer {
  background-color: #008bb4;
  padding: 14px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  bottom: 0;
  left: 0;
  height: auto;
}

.text-inferior {
  color: #fff;
  font-size: 14px;
  margin-top: 40px !important;
  line-height: 0.2px;
}

.text-inferior2 {
  color: #fff;
  font-size: 14px;
  margin-top: 10px !important;
}

.text-inferior0 {
  color: #fff;
  font-size: 14px;
  margin-top: 40px !important;
  margin-bottom: -5px;
}

.privacidade a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px;
  background-color: #3bb42b;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  top: 50px;
}

.privacidade a:hover {
  background-color: #65e48b;
}

.contato a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: -77% !important;
  position: relative;
  top: -9px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
}

.seguir a {
  color: #f0f0f0;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  margin-left: -70%;
  position: relative;
  top: -135px;
}

.logoEmpresa {
  margin-left: 190px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border: 1px solid #cecece;
  border-radius: 50%;
  top: 1660px;
}

.line {
  border-bottom: 1px solid #c7bfbf;
  padding-bottom: 0.2px;
  width: 200px;
  margin-left: 400px;
}

.line2 {
  border-bottom: 1px solid #c7bfbf;
  padding-bottom: 0.2px;
  width: 200px;
  margin-left: 880px;
}

.ajuda {
  position: relative;
  top: -150px;
}

.ajuda a {
  color: #fff;
  text-decoration: none;
  margin-left: 70% !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
}

.email a {
  color: #fff;
  margin-left: 70% !important;
  top: -130px !important;
  margin-bottom: 4%;
  position: relative;
}

.assinante a {
  color: #fff;
  margin-left: 77% !important;
  top: -120px !important;
  position: relative;
}

.endFisc0 {
  color: #fff;
  margin-left: 75% !important;
  top: -50px !important;
  position: relative;
}

.endFisic i {
  color: #f32617;
  margin-left: 51% !important;
  top: -50px !important;
  position: relative;
  font-size: 26px;
  cursor: pointer;
}

.end {
  color: #fff;
  margin-left: 75% !important;
  top: -70px !important;
  position: relative;
  cursor: pointer;
}

.contato-whatsapp a {
  color: #eef3f0;
  text-decoration: none;
  padding: 8px;
  background-color: #3bb42b;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  margin-left: -76% !important;
  top: -180px;
}

.flex-phone {
  margin-top: 2% !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 670px;
}

.phone-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone-item a {
  color: #3b5998;
  font-size: 20px;
}

.number1 {
  color: #f0f0f0;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.social-icons a {
  margin: 0 10px;
  color: #555;
  position: relative;
  top: -300px;
  left: -38%;
  font-size: 20px;
}

.social-icons a:hover {
  color: #000;
}

.fa-facebook {
  color: #eef3f0;
  text-decoration: none;
  padding: 8px;
  background-color: #1877f2;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  border: 1px solid #363535;
}

.fa-linkedin {
  color: #eef3f0;
  text-decoration: none;
  padding: 8px;
  background-color: #1877f2;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  border: 1px solid #363535;
}

.fa-instagram {
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  background-color: #fc01d8;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  border: 1px solid #363535;
}

.fa-github {
  color: #fcfcfc;
  text-decoration: none;
  padding: 8px;
  background-color: #080808;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  border: 1px solid #363535;
}

@media screen and (max-width: 768px) {
  .noticia-single {
    width: 100%;
    margin-bottom: 20px;
  }
  .logo {
    text-align: center;
  }
  .logo,
  .form-busca {
    width: 100%;
  }
  .form-busca {
    text-align: center;
    margin-top: 10px;
  }

  .title-destaque-descricao h2 {
    font-size: 34px;
    margin: 20px 0;
  }

  .mais-lidas,
  .ultimas {
    width: 100%;
    margin-bottom: 20px;
  }

  .box-ultima-single {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
